/*
    파일명 : contents.css
    작성자 : 양은직
    작성일 : 2024.02.28
    설  명 : 모든 콘텐츠 페이지별 디자인 스타일 저장
*/
@import url(default.css);
@import url(common.css);
@import url(layout.css);

.cts_greeting {
    margin: 135px 0 275px 0;
}
.cts_greeting .inner {
    position: relative;
}
.cts_greeting .tit {
    font-size: 25px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 60px;
}
.cts_greeting p {
    margin: 0 600px 0 0;
}
.cts_greeting p strong {
    position: relative;
    font-weight: 700;
    line-height: 2em;
}
.cts_greeting p strong::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #F51919;
    content: "";
}
.cts_greeting p span {
    color: #F51919;
}
.cts_greeting .ceo .ceoimg {
    position: absolute;
    right: 0;
    top: 0;
}
.cts_greeting .ceo .sign {
    display: flex;
    align-items: center;
    margin: 40px 0 0 0;
}
.cts_greeting .ceo .sign strong {
    margin: 10px 30px 0 0;
    display: block;
    font-size: 20px;
    font-weight: 700;
}
@media screen and (max-width:768px){
    .cts_greeting .mmo {
        display: none;
    }
    .cts_greeting p {
        margin: 0;
    }
}

.cts_history {
    margin: 25px 0 60px 0;
}
.cts_history .year10 {
    margin: 130px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cts_history .year10.right {
    flex-direction: row-reverse;
}
.cts_history .year_tit {
    width: 400px;
    position: relative;
}
.cts_history .year_tit h2 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}
.cts_history .year_tit p {
    position: absolute;
    left: 0;
    top: 110px;
    font-size: 20px;
    line-height: 1.2;
    color: #1d1d1d;
}
.cts_history .year_cnt {
    width: calc(100% - 517px);
    position: relative;
}
.cts_history .year_cnt::before {
    position: absolute;
    left: 128px;
    top: 7px;
    width: 1px;
    height: calc(100% - 7px);
    background-color: #F51919;
    content: "";
}
.cts_history .right .year_cnt::before {
    left: auto;
    right: 128px;
}
.cts_history .year_cnt .year1_group:last-child dl dd:last-child {
    position: relative;
}
.cts_history .year_cnt .year1_group:last-child dl dd:last-child::before {
    position: absolute;
    left: -67px;
    bottom: -20px;
    width: 1px;
    height: calc(100% + 6px);
    background-color: #fff;
    content: "";
}
.cts_history .right .year_cnt .year1_group:last-child dl dd:last-child::before {
    left: auto;
    right: -67px;
}
.cts_history .year_cnt .year1_group {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: space-between;
}
.cts_history .year_cnt .year1_group:last-child {
    margin-bottom: 0;
}
.cts_history .right .year_cnt .year1_group {
    flex-direction: row-reverse;
}
.cts_history .year_cnt .year1_group h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    margin-top: -10px;
    color: #F51919;
}
.cts_history .year_cnt .year1_group dl {
    width: calc(100% - 145px);
    
}
.cts_history .year_cnt .year1_group dl dt {
    position: relative;
    float: left;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #1d1d1d;
}
.cts_history .right .year_cnt .year1_group dl dt {
    float: right;
}
.cts_history .year_cnt .year1_group dl dt::before {
    position: absolute;
    left: -20px;
    top: 7px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #F51919;
    content: "";
}
.cts_history .right .year_cnt .year1_group dl dt::before {
    left: auto;
    right: -20px;
}
.cts_history .year_cnt .year1_group dl dd {
    margin: 0 0 20px 50px;
    position: relative;
}
.cts_history .year_cnt .year1_group dl dd::after {
    position: absolute;
    left: -50px;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: #ededed;
    content: "";
}
.cts_history .year_cnt .year1_group dl dd.nobrd::after {
    display: none;
}
.cts_history .right .year_cnt .year1_group dl dd {
    margin: 0 50px 20px 0;
    text-align: right;
}
.cts_history .year_cnt .year1_group dl dd + dd {
    margin-top: -12px;
}
@media screen and (max-width:1320px){
    .cts_history .year_tit {
        width: 300px;
        position: relative;
    }
    .cts_history .year_cnt {
        width: calc(100% - 417px);
        position: relative;
    }
    .cts_history .year_cnt .year1_group h3 {
        font-size: 30px;
    }
}
@media screen and (max-width:1024px){
    .cts_history .year_tit {
        width: 200px;
        position: relative;
    }
    .cts_history .year_cnt {
        width: calc(100% - 217px);
        position: relative;
    }
    .cts_history .year_cnt .year1_group h3 {
        font-size: 25px;
    }
}
@media screen and (max-width:768px){
    .cts_history .year_cnt .year1_group dl {
        width: calc(100% - 95px);
    }
    .cts_history .year10 {
        margin: 80px 0px;
        display: block;
    }
    .cts_history .year_tit {
        width: auto;
    }
    .cts_history .year_tit p {
        position: absolute;
        left: 140px;
        top: 10px;
        font-size: 20px;
        line-height: 1.2;
        color: #1d1d1d;
    }
    .cts_history .year_cnt {
        width: auto;
        margin-top: 30px;
    }
    .cts_history .year_cnt::before,
    .cts_history .right .year_cnt::before {
        left: 78px;
        right: auto;
    }
    .cts_history .right .year_cnt .year1_group:last-child dl dd:last-child::before,
    .cts_history .year_cnt .year1_group:last-child dl dd:last-child::before {
        left: -57px;
        right: auto;
    }
    .cts_history .right .year_cnt .year1_group {
        flex-direction: row;
    }
    .cts_history .right .year_cnt .year1_group dl dt {
        float: left;
    }
    .cts_history .right .year_cnt .year1_group dl dt::before {
        left: -20px;
        right: auto;
    }
    .cts_history .year_cnt .year1_group {
        margin: 0 0 30px 0;
    }
    .cts_history .year_cnt .year1_group dl dd::after {
        left: -40px;
        bottom: -8px;
        width: calc(100% + 40px);
        background-color: #ededed;
    }
    .cts_history .year_cnt .year1_group dl dd,
    .cts_history .right .year_cnt .year1_group dl dd {
        margin: 0 0 15px 40px;
        text-align: left;
    }
    .cts_history .year_cnt .year1_group h3 {
        margin-top: -2px;
    }
}

.cts_ir03 {
    margin: 95px 0 150px 0;
}
.cts_ir03 h2 {
    color: #1d1d1d;
    font-size: 35px;
    font-weight: 700;
}
.cts_ir03 p {
    margin: 10px 0 40px 0;
}
.cts_ir03.table_wrap {
    overflow-y: auto;
}
.cts_ir03 .table_wrap table {
    width: 100%;
    border-collapse: collapse;
    border-top: 5px solid #F51919;
}
.cts_ir03 .table_wrap table caption {
    display: none;
}
.cts_ir03 .table_wrap table th,
.cts_ir03 .table_wrap table td {
    border: 1px solid #ccc;
}
.cts_ir03 .table_wrap table th:first-child,
.cts_ir03 .table_wrap table td:first-child {
    border-left: 0;
}
.cts_ir03 .table_wrap table th:last-child,
.cts_ir03 .table_wrap table td:last-child {
    border-right: 0;
}
.cts_ir03 .table_wrap table tbody th,
.cts_ir03 .table_wrap table tbody td {
    padding: 10px 20px;
}
.cts_ir03 .table_wrap table thead th,
.cts_ir03 .table_wrap table thead td {
    background-color: #f4f4f4;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 20px;
}
.cts_ir03 .table_wrap table td {
    text-align: right;
}
.cts_ir03 .table_wrap table th {
    text-align: right;
    font-weight: 700;
}
.cts_ir03 .table_wrap table th:first-child {
    text-align: left;
}
@media screen and (max-width:768px) { 
    .cts_ir03 .table_wrap table tbody th,
    .cts_ir03 .table_wrap table tbody td {
        padding: 5px 10px;
        font-size: 12px;
    }
    .cts_ir03 .table_wrap table thead th,
    .cts_ir03 .table_wrap table thead td {
        padding: 5px 10px;
        font-size: 15px;
    }
}

.cts_biz05 {
    margin: 100px 0;
}
.cts_biz05 .search_group .search {
    max-width: 650px;
    width: 100%;
    height: 55px;
    border: 2px solid #F51919;
    border-radius: 45px;
    padding: 0 0 0 80px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;  
}
.cts_biz05 .search_group .search:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.cts_biz05 .search_group .search::after {
    position: absolute;
    top: 0;
    left: 20px;
    color: #F51919;
    font-size: 35px;
    font-weight: 700;
    content: "K";
}
.cts_biz05 .search_group .search label {
    display: none;
}
.cts_biz05 .search_group .search input[type=text] {
    border: 0;
    outline: 0;
    font-weight: 700;
    color: #1d1d1d;
    width: calc(100% - 80px);
}
.cts_biz05 .search_group .search input[type=text]::placeholder {
    font-weight: 400;
    color: #aaa;
}
.cts_biz05 .search_group .search input[type=submit] {
    border: 0;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    width: 35px;
    height: 35px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.314' height='20.314' viewBox='0 0 20.314 20.314'%3E%3Cpath id='search-line' d='M18.031,16.617,22.314,20.9,20.9,22.314l-4.283-4.283a9,9,0,1,1,1.414-1.414Zm-2.006-.742a7,7,0,1,0-.15.15Z' transform='translate(-2 -2)' fill='%23b10400'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px;
    margin-left: 30px;
}
@media screen and (max-width:768px) { 
    .cts_biz05 .search_group .search {
        height: 45px;
        padding: 0 0 0 70px;
    }
    .cts_biz05 .search_group .search::after {
        top: -5px;
        left: 25px;
    }
    .cts_biz05 .search_group .search input[type=text] {
        width: calc(100% - 85px);
    }
    .cts_biz05 .search_group .search input[type=submit] {
        background-size: 22px;
    }
}
.cts_biz05 .login_group {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.cts_biz05 .login_group input[type="submit"] {
    width: 100%;
    background-color: #F51919;
    border-radius: 15px;
    border: 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
}