/*
    파일명 : contents.css
    작성자 : 양은직
    작성일 : 2024.02.28
    설  명 : 모든 콘텐츠 페이지별 디자인 스타일 저장
*/
@import url(default.css);
@import url(common.css);
@import url(layout.css);

.cts_greeting {
    margin: 135px 0 275px 0;
}
.cts_greeting .inner {
    position: relative;
}
.cts_greeting .tit {
    font-size: 25px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 60px;
}
.cts_greeting p {
    margin: 0 600px 0 0;
}
.cts_greeting p strong {
    position: relative;
    font-weight: 700;
    line-height: 2em;
}
.cts_greeting p strong::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #F51919;
    content: "";
}
.cts_greeting p span {
    color: #F51919;
}
.cts_greeting .ceo .ceoimg {
    position: absolute;
    right: 0;
    top: 0;
}
.cts_greeting .ceo .sign {
    display: flex;
    align-items: center;
    margin: 40px 0 0 0;
}
.cts_greeting .ceo .sign strong {
    margin: 10px 30px 0 0;
    display: block;
    font-size: 20px;
    font-weight: 700;
}
@media screen and (max-width:768px){
    .cts_greeting .mmo {
        display: none;
    }
    .cts_greeting p {
        margin: 0;
    }
}

.cts_history {
    margin: 25px 0 60px 0;
}
.cts_history .year10 {
    margin: 130px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cts_history .year10.right {
    flex-direction: row-reverse;
}
.cts_history .year_tit {
    width: 400px;
    position: relative;
}
.cts_history .year_tit h2 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}
.cts_history .year_tit p {
    position: absolute;
    left: 0;
    top: 110px;
    font-size: 20px;
    line-height: 1.2;
    color: #1d1d1d;
}
.cts_history .year_cnt {
    width: calc(100% - 517px);
    position: relative;
}
.cts_history .year_cnt::before {
    position: absolute;
    left: 128px;
    top: 7px;
    width: 1px;
    height: calc(100% - 7px);
    background-color: #F51919;
    content: "";
}
.cts_history .right .year_cnt::before {
    left: auto;
    right: 128px;
}
.cts_history .year_cnt .year1_group:last-child dl dd:last-child {
    position: relative;
}
.cts_history .year_cnt .year1_group:last-child dl dd:last-child::before {
    position: absolute;
    left: -67px;
    bottom: -20px;
    width: 1px;
    height: calc(100% + 6px);
    background-color: #fff;
    content: "";
}
.cts_history .right .year_cnt .year1_group:last-child dl dd:last-child::before {
    left: auto;
    right: -67px;
}
.cts_history .year_cnt .year1_group {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: space-between;
}
.cts_history .year_cnt .year1_group:last-child {
    margin-bottom: 0;
}
.cts_history .right .year_cnt .year1_group {
    flex-direction: row-reverse;
}
.cts_history .year_cnt .year1_group h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    margin-top: -10px;
    color: #F51919;
}
.cts_history .year_cnt .year1_group dl {
    width: calc(100% - 145px);
    
}
.cts_history .year_cnt .year1_group dl dt {
    position: relative;
    float: left;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #1d1d1d;
}
.cts_history .right .year_cnt .year1_group dl dt {
    float: right;
}
.cts_history .year_cnt .year1_group dl dt::before {
    position: absolute;
    left: -20px;
    top: 7px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #F51919;
    content: "";
}
.cts_history .right .year_cnt .year1_group dl dt::before {
    left: auto;
    right: -20px;
}
.cts_history .year_cnt .year1_group dl dd {
    margin: 0 0 20px 50px;
    position: relative;
}
.cts_history .year_cnt .year1_group dl dd::after {
    position: absolute;
    left: -50px;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: #ededed;
    content: "";
}
.cts_history .year_cnt .year1_group dl dd.nobrd::after {
    display: none;
}
.cts_history .right .year_cnt .year1_group dl dd {
    margin: 0 50px 20px 0;
    text-align: right;
}
.cts_history .year_cnt .year1_group dl dd + dd {
    margin-top: -12px;
}
@media screen and (max-width:1320px){
    .cts_history .year_tit {
        width: 300px;
        position: relative;
    }
    .cts_history .year_cnt {
        width: calc(100% - 417px);
        position: relative;
    }
    .cts_history .year_cnt .year1_group h3 {
        font-size: 30px;
    }
}
@media screen and (max-width:1024px){
    .cts_history .year_tit {
        width: 200px;
        position: relative;
    }
    .cts_history .year_cnt {
        width: calc(100% - 217px);
        position: relative;
    }
    .cts_history .year_cnt .year1_group h3 {
        font-size: 25px;
    }
}
@media screen and (max-width:768px){
    .cts_history .year_cnt .year1_group dl {
        width: calc(100% - 95px);
    }
    .cts_history .year10 {
        margin: 80px 0px;
        display: block;
    }
    .cts_history .year_tit {
        width: auto;
    }
    .cts_history .year_tit p {
        position: absolute;
        left: 140px;
        top: 10px;
        font-size: 20px;
        line-height: 1.2;
        color: #1d1d1d;
    }
    .cts_history .year_cnt {
        width: auto;
        margin-top: 30px;
    }
    .cts_history .year_cnt::before,
    .cts_history .right .year_cnt::before {
        left: 78px;
        right: auto;
    }
    .cts_history .right .year_cnt .year1_group:last-child dl dd:last-child::before,
    .cts_history .year_cnt .year1_group:last-child dl dd:last-child::before {
        left: -57px;
        right: auto;
    }
    .cts_history .right .year_cnt .year1_group {
        flex-direction: row;
    }
    .cts_history .right .year_cnt .year1_group dl dt {
        float: left;
    }
    .cts_history .right .year_cnt .year1_group dl dt::before {
        left: -20px;
        right: auto;
    }
    .cts_history .year_cnt .year1_group {
        margin: 0 0 30px 0;
    }
    .cts_history .year_cnt .year1_group dl dd::after {
        left: -40px;
        bottom: -8px;
        width: calc(100% + 40px);
        background-color: #ededed;
    }
    .cts_history .year_cnt .year1_group dl dd,
    .cts_history .right .year_cnt .year1_group dl dd {
        margin: 0 0 15px 40px;
        text-align: left;
    }
    .cts_history .year_cnt .year1_group h3 {
        margin-top: -2px;
    }
}

.cts_ir03 {
    margin: 95px 0 150px 0;
}
.cts_ir03 h2 {
    color: #1d1d1d;
    font-size: 35px;
    font-weight: 700;
}
.cts_ir03 p {
    margin: 10px 0 40px 0;
}
.cts_ir03.table_wrap {
    overflow-y: auto;
}
.cts_ir03 .table_wrap table {
    width: 100%;
    border-collapse: collapse;
    border-top: 5px solid #F51919;
}
.cts_ir03 .table_wrap table caption {
    display: none;
}
.cts_ir03 .table_wrap table th,
.cts_ir03 .table_wrap table td {
    border: 1px solid #ccc;
}
.cts_ir03 .table_wrap table th:first-child,
.cts_ir03 .table_wrap table td:first-child {
    border-left: 0;
}
.cts_ir03 .table_wrap table th:last-child,
.cts_ir03 .table_wrap table td:last-child {
    border-right: 0;
}
.cts_ir03 .table_wrap table tbody th,
.cts_ir03 .table_wrap table tbody td {
    padding: 10px 20px;
}
.cts_ir03 .table_wrap table thead th,
.cts_ir03 .table_wrap table thead td {
    background-color: #f4f4f4;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 20px;
}
.cts_ir03 .table_wrap table td {
    text-align: right;
}
.cts_ir03 .table_wrap table th {
    text-align: right;
    font-weight: 700;
}
.cts_ir03 .table_wrap table th:first-child {
    text-align: left;
}
@media screen and (max-width:768px) { 
    .cts_ir03 .table_wrap table tbody th,
    .cts_ir03 .table_wrap table tbody td {
        padding: 5px 10px;
        font-size: 12px;
    }
    .cts_ir03 .table_wrap table thead th,
    .cts_ir03 .table_wrap table thead td {
        padding: 5px 10px;
        font-size: 15px;
    }
}

.cts_biz05 {
    margin: 100px 0;
}
.cts_biz05 .search_group .search {
    max-width: 650px;
    width: 100%;
    height: 55px;
    border: 2px solid #F51919;
    border-radius: 45px;
    padding: 0 0 0 80px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;  
}
.cts_biz05 .search_group .search:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.cts_biz05 .search_group .search::after {
    position: absolute;
    top: 0;
    left: 20px;
    color: #F51919;
    font-size: 35px;
    font-weight: 700;
    content: "K";
}
.cts_biz05 .search_group .search label {
    display: none;
}
.cts_biz05 .search_group .search input[type=text] {
    border: 0;
    outline: 0;
    font-weight: 700;
    color: #1d1d1d;
    width: calc(100% - 80px);
}
.cts_biz05 .search_group .search input[type=text]::placeholder {
    font-weight: 400;
    color: #aaa;
}
.cts_biz05 .search_group .search input[type=submit] {
    border: 0;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    width: 35px;
    height: 35px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.314' height='20.314' viewBox='0 0 20.314 20.314'%3E%3Cpath id='search-line' d='M18.031,16.617,22.314,20.9,20.9,22.314l-4.283-4.283a9,9,0,1,1,1.414-1.414Zm-2.006-.742a7,7,0,1,0-.15.15Z' transform='translate(-2 -2)' fill='%23b10400'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px;
    margin-left: 30px;
}
@media screen and (max-width:768px) { 
    .cts_biz05 .search_group .search {
        height: 45px;
        padding: 0 0 0 70px;
    }
    .cts_biz05 .search_group .search::after {
        top: -5px;
        left: 25px;
    }
    .cts_biz05 .search_group .search input[type=text] {
        width: calc(100% - 85px);
    }
    .cts_biz05 .search_group .search input[type=submit] {
        background-size: 22px;
    }
}
.cts_biz05 .login_group {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
}
.cts_biz05 .login_group h2 {
    font-size: 35px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 40px;
}
.cts_biz05 .login_group .login_form {
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
}
.cts_biz05 .login_group .login_form .user_id,
.cts_biz05 .login_group .login_form .user_pw {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}
.cts_biz05 .login_group .login_form .user_id {
    border-bottom: 2px solid #ccc;
}
.cts_biz05 .login_group .login_form .user_id label,
.cts_biz05 .login_group .login_form .user_pw label {
    margin: 0 10px;
    font-size: 0;
    line-height: 0;
    width: 70px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 35px auto;
}
.cts_biz05 .login_group .login_form .user_id label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(93,93,93,1)'%3E%3Cpath d='M20 22H18V20C18 18.3431 16.6569 17 15 17H9C7.34315 17 6 18.3431 6 20V22H4V20C4 17.2386 6.23858 15 9 15H15C17.7614 15 20 17.2386 20 20V22ZM12 13C8.68629 13 6 10.3137 6 7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7C18 10.3137 15.3137 13 12 13ZM12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z'%3E%3C/path%3E%3C/svg%3E");
}
.cts_biz05 .login_group .login_form .user_pw label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(93,93,93,1)'%3E%3Cpath d='M18 8H20C20.5523 8 21 8.44772 21 9V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V9C3 8.44772 3.44772 8 4 8H6V7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7V8ZM5 10V20H19V10H5ZM11 14H13V16H11V14ZM7 14H9V16H7V14ZM15 14H17V16H15V14ZM16 8V7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7V8H16Z'%3E%3C/path%3E%3C/svg%3E");
}
.cts_biz05 .login_group .login_form input {
    width: calc(100% - 120px);
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    border: 0;
    outline: 0;
}
.cts_biz05 .login_group .login_form input::placeholder {
    color: #aaa;
    font-weight: 400;
}
.cts_biz05 .login_group .login_chk {
    margin: 20px 0 35px 0;
}
.cts_biz05 .login_group .login_chk input {
    display: none;
}
.cts_biz05 .login_group .login_chk label {
    position: relative;
    font-size: 15px;
    color: #666;
    padding-left: 45px;
}
.cts_biz05 .login_group .login_chk label::before {
    position: absolute;
    top: 1px;
    left: 20px;
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(102,102,102,1)'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11.0026 16L6.75999 11.7574L8.17421 10.3431L11.0026 13.1716L16.6595 7.51472L18.0737 8.92893L11.0026 16Z'%3E%3C/path%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.cts_biz05 .login_group .login_chk input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(245,25,25,1)'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11.0026 16L18.0737 8.92893L16.6595 7.51472L11.0026 13.1716L8.17421 10.3431L6.75999 11.7574L11.0026 16Z'%3E%3C/path%3E%3C/svg%3E");
}
.cts_biz05 .login_group input[type="submit"] {
    width: 100%;
    background-color: #F51919;
    border-radius: 15px;
    border: 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
}
@media screen and (max-width:768px) { 
    .cts_biz05 .login_group h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .cts_biz05 .login_group .login_form .user_id,
    .cts_biz05 .login_group .login_form .user_pw {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .cts_biz05 .login_group .login_form .user_id label,
    .cts_biz05 .login_group .login_form .user_pw label {
        margin: 0 10px;
        width: 50px;
        height: 100%;
        background-size: 35px auto;
    }
    .cts_biz05 .login_group .login_form input {
        width: calc(100% - 120px);
        font-size: 15px;
        font-weight: 700;
    }
    .cts_biz05 .login_group .login_chk {
        margin: 20px 0 35px 0;
    }
    .cts_biz05 .login_group .login_chk label {
        position: relative;
        font-size: 12px;
        color: #666;
        padding-left: 45px;
    }
    .cts_biz05 .login_group .login_chk label::before {
        top: -2px;
        left: 20px;
    }
    .cts_biz05 .login_group input[type="submit"] {
        font-size: 20px;
        line-height: 50px;
    }
    .cts_biz05 .login_group .login_chk {
        margin-bottom: 20px;
    }
    .cts_biz05 .login_group .login_form .user_id label,
    .cts_biz05 .login_group .login_form .user_pw label {
        background-size: 25px auto;
    }
}
.cts_biz05 .join_group {
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
}
.cts_biz05 .join_group h2 {
    font-size: 30px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 20px;
}
.cts_biz05 .join_group h2 {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 15px;
}
.cts_biz05 .join_group .agree_box {
    width: 100%;
    height: 270px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}
.cts_biz05 .join_group .agree_box .agree_box_inner {
    height: 100%;
    width: 100%;
    overflow-y: auto;

}
.cts_biz05 .join_group .agree_box .agree_box_inner::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent
}
.cts_biz05 .join_group .agree_box .agree_box_inner::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #ccc;
}
.cts_biz05 .join_group .agree_box .inner {
    white-space: pre-line;
}
.cts_biz05 .join_group .agree_box .inner strong {
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
    color: #1d1d1d;
}
.cts_biz05 .join_group .agree_btn {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 90px 0;
}
.cts_biz05 .join_group .agree_btn input {
    display: none;
}
.cts_biz05 .join_group .agree_btn label {
    padding: 5px 0 5px 35px;
    display: block;
    position: relative;
    cursor: pointer;
}
.cts_biz05 .join_group .agree_btn label::before {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(102,102,102,1)'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11.0026 16L6.75999 11.7574L8.17421 10.3431L11.0026 13.1716L16.6595 7.51472L18.0737 8.92893L11.0026 16Z'%3E%3C/path%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.cts_biz05 .join_group .agree_btn input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(245,25,25,1)'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11.0026 16L18.0737 8.92893L16.6595 7.51472L11.0026 13.1716L8.17421 10.3431L6.75999 11.7574L11.0026 16Z'%3E%3C/path%3E%3C/svg%3E");
}
.cts_biz05 .join_group .info_box {
    border: 1px solid #ccc;
    border-radius: 20px;
}
.cts_biz05 .join_group .info .info_box > div {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.cts_biz05 .join_group .info .info_box > div:last-child {
    border-bottom: 0;
}
.cts_biz05 .join_group .info .info_box .join_id label,
.cts_biz05 .join_group .info .info_box .join_pw label,
.cts_biz05 .join_group .info .info_box .join_mail label {
    width: 110px;
    height: 100%;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 35% auto;
}
.cts_biz05 .join_group .info .info_box .join_id label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(93,93,93,1)'%3E%3Cpath d='M20 22H18V20C18 18.3431 16.6569 17 15 17H9C7.34315 17 6 18.3431 6 20V22H4V20C4 17.2386 6.23858 15 9 15H15C17.7614 15 20 17.2386 20 20V22ZM12 13C8.68629 13 6 10.3137 6 7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7C18 10.3137 15.3137 13 12 13ZM12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z'%3E%3C/path%3E%3C/svg%3E");
}
.cts_biz05 .join_group .info .info_box .join_pw label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(93,93,93,1)'%3E%3Cpath d='M18 8H20C20.5523 8 21 8.44772 21 9V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V9C3 8.44772 3.44772 8 4 8H6V7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7V8ZM5 10V20H19V10H5ZM11 14H13V16H11V14ZM7 14H9V16H7V14ZM15 14H17V16H15V14ZM16 8V7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7V8H16Z'%3E%3C/path%3E%3C/svg%3E");
}
.cts_biz05 .join_group .info .info_box .join_mail label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(93,93,93,1)'%3E%3Cpath d='M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM20 7.23792L12.0718 14.338L4 7.21594V19H20V7.23792ZM4.51146 5L12.0619 11.662L19.501 5H4.51146Z'%3E%3C/path%3E%3C/svg%3E");
}
.cts_biz05 .join_group .info .info_box .join_id input, 
.cts_biz05 .join_group .info .info_box .join_pw input {
    width: calc(100% - 150px);
}
.cts_biz05 .join_group .info .info_box input[type=text],
.cts_biz05 .join_group .info .info_box input[type=password] {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    border: 0;
    outline: 0;
}
.cts_biz05 .join_group .info .info_box input[type=text]::placeholder,
.cts_biz05 .join_group .info .info_box input[type=password]::placeholder {
    font-weight: 400;
    color: #aaa;
}
.cts_biz05 .join_group .info .info_box .join_mail input {
    width: calc(100% - 325px);
}
.cts_biz05 .join_group .info .info_box .join_mail select {
    width: 175px;
    font-size: 20px;
    color: #1d1d1d;
    border: 0;
}
.cts_biz05 .join_group .info .info_box .join_gender {
    justify-content: center;
}
.cts_biz05 .join_group .info .info_box .join_gender input {
    display: none;
}
.cts_biz05 .join_group .info .info_box .join_gender label {
    width: calc(50% - 40px);
    margin: 0 5px;
    line-height: 43px;
    border: 1px solid #ccc;
    border-radius: 14px;
    font-size: 20px;
    font-weight: 700;
    color: #666;
    text-align: center;
    cursor: pointer;
}
.cts_biz05 .join_group .info .info_box .join_gender input:checked + label {
    border-color: #F51919;
    color: #F51919;
}
.cts_biz05 .join_group .info input[type="submit"] {
    margin-top: 50px;
    width: 100%;
    background-color: #F51919;
    border-radius: 15px;
    border: 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
}

.cts_brochure {
    margin: 90px 0 150px 0;
}
.cts_brochure .board_head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 30px;
    background-color: #f4f4f4;;
    line-height: 80px;
}
.cts_brochure .board_head .total_num strong {
    font-weight: 700;
    color: #F51919;
}
.cts_brochure .board_head .search .inner {
    display: flex;
}
.cts_brochure .board_head .search select {
    height: 40px;
    width: 120px;
    padding-left: 10px;
    outline: 0;
    border: 1px solid #999;
    border-radius: 5px;
}
.cts_brochure .board_head .search label {
    display: none;
}
.cts_brochure .board_head .search input[type="text"] {
    width: 275px;
    height: 40px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 0 10px;
    margin: 0 5px;
}
.cts_brochure .board_head .search input[type="submit"] {
    width: 75px;
    height: 40px;
    background-color: #3d3d3d;
    color: #fff;
    border-radius: 5px;
}
@media screen and (max-width:1024px) {
    .cts_brochure .board_head {
        display: block;
    }
    .cts_brochure .board_head .search {
        max-width: 470px;
        width: calc(100% - 175px);
        margin: 0 auto;
    }
    .cts_brochure .board_head .search input[type="text"] {
        width: calc(100% - 215px);
    }
}
.cts_brochure .board_paging {
    border-top: 1px solid #ccc;
    padding: 27px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cts_brochure .board_paging .btn_prev,
.cts_brochure .board_paging .btn_next {
    width: 35px;
    height: 35px;
    font-size: 0;
    line-height: 0;
    border: 2px solid #666;
    border-radius: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px auto;
    margin: 0 5px;
}
.cts_brochure .board_paging .btn_prev:hover,
.cts_brochure .board_paging .btn_next:hover {
    background-color: #1d1d1d;
    border-color: #1d1d1d;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
.cts_brochure .board_paging .btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240.616' height='424.616' viewBox='0 0 240.616 424.616'%3E%3Cpath id='navigate_before_FILL0_wght200_GRAD0_opsz24' d='M560-267.692,347.692-480,560-692.308,588.308-664l-184,184,184,184Z' transform='translate(-347.692 692.308)' fill='%23666'/%3E%3C/svg%3E%0A");
}
.cts_brochure .board_paging .btn_prev:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240.616' height='424.616' viewBox='0 0 240.616 424.616'%3E%3Cpath id='navigate_before_FILL0_wght200_GRAD0_opsz24' d='M560-267.692,347.692-480,560-692.308,588.308-664l-184,184,184,184Z' transform='translate(-347.692 692.308)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.cts_brochure .board_paging .btn_next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240.616' height='424.616' viewBox='0 0 240.616 424.616'%3E%3Cpath id='navigate_next_FILL0_wght200_GRAD0_opsz24' d='M531.692-480l-184-184L376-692.308,588.308-480,376-267.692,347.692-296Z' transform='translate(-347.692 692.308)' fill='%23666'/%3E%3C/svg%3E%0A");
}
.cts_brochure .board_paging .btn_next:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240.616' height='424.616' viewBox='0 0 240.616 424.616'%3E%3Cpath id='navigate_next_FILL0_wght200_GRAD0_opsz24' d='M531.692-480l-184-184L376-692.308,588.308-480,376-267.692,347.692-296Z' transform='translate(-347.692 692.308)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.cts_brochure .board_paging .page {
    margin: 0 5px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: #666;
}
.cts_brochure .board_paging .page.on,
.cts_brochure .board_paging .page:hover {
    background-color: #F51919;
    border-radius: 100%;
    color: #fff;
    font-weight: 700;
}
@media screen and (max-width:1024px) {
    .cts_brochure .board_paging .btn_prev,
    .cts_brochure .board_paging .btn_next {
        width: 30px;
        height: 30px;
    }
    .cts_brochure .board_paging .page {
        width: 30px;
        line-height: 30px;
    }
}
.cts_brochure .board_list ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cts_brochure .board_list {
    margin-top: 45px;
    margin-bottom: 20px;
}
.cts_brochure .board_list ul li {
    width: calc(33.33% - 18.66px);
    margin-bottom: 50px;
}
.cts_brochure .board_list ul li a {
    display: block;
}
.cts_brochure .board_list ul li a .photo {
    display: block;
    overflow: hidden;
}
.cts_brochure .board_list ul li a .photo img {
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;
}
.cts_brochure .board_list ul li a .photo img:hover {
}
.cts_brochure .board_list ul li a strong {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}
.cts_brochure .board_list ul li a .group {
    display: flex;
}
.cts_brochure .board_list ul li a .group span {
    margin-right: 10px;
    color: #707070;
    padding-left: 25px;
    position: relative;
}
.cts_brochure .board_list ul li a .group span::before {
    position: absolute;
    top: 0;
    left: 3px;
    width: 20px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.cts_brochure .board_list ul li a .group .count::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.968' height='18.045' viewBox='0 0 26.968 18.045'%3E%3Cpath id='visibility_FILL0_wght300_GRAD0_opsz24' d='M75.027-765.722a5.061,5.061,0,0,0,3.721-1.533,5.075,5.075,0,0,0,1.531-3.724,5.061,5.061,0,0,0-1.533-3.721,5.075,5.075,0,0,0-3.724-1.531A5.061,5.061,0,0,0,71.3-774.7a5.075,5.075,0,0,0-1.531,3.724,5.061,5.061,0,0,0,1.533,3.721A5.075,5.075,0,0,0,75.027-765.722Zm0-1.775a3.356,3.356,0,0,1-2.465-1.015,3.356,3.356,0,0,1-1.015-2.465,3.356,3.356,0,0,1,1.015-2.465,3.356,3.356,0,0,1,2.465-1.015,3.356,3.356,0,0,1,2.465,1.015,3.356,3.356,0,0,1,1.015,2.465,3.356,3.356,0,0,1-1.015,2.465A3.356,3.356,0,0,1,75.024-767.5Zm0,5.542a14.229,14.229,0,0,1-8.1-2.453,14.483,14.483,0,0,1-5.384-6.57,14.487,14.487,0,0,1,5.382-6.57,14.221,14.221,0,0,1,8.1-2.453,14.229,14.229,0,0,1,8.1,2.453,14.483,14.483,0,0,1,5.384,6.57,14.487,14.487,0,0,1-5.382,6.57A14.221,14.221,0,0,1,75.026-761.954ZM75.024-770.977Zm0,7.089A12.3,12.3,0,0,0,81.71-765.8a12.6,12.6,0,0,0,4.656-5.172,12.6,12.6,0,0,0-4.656-5.172,12.3,12.3,0,0,0-6.686-1.917,12.3,12.3,0,0,0-6.686,1.917,12.6,12.6,0,0,0-4.656,5.172,12.6,12.6,0,0,0,4.656,5.172A12.3,12.3,0,0,0,75.024-763.888Z' transform='translate(-61.54 779.999)' fill='%23707070'/%3E%3C/svg%3E%0A");
}
.cts_brochure .board_list ul li a .group .date::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.14' height='21.522' viewBox='0 0 19.14 21.522'%3E%3Cpath id='calendar_month_FILL0_wght300_GRAD0_opsz24' d='M142.036-843.092a1.965,1.965,0,0,1-1.444-.591,1.965,1.965,0,0,1-.591-1.444V-860.2a1.965,1.965,0,0,1,.591-1.444,1.964,1.964,0,0,1,1.444-.591H143.6v-2.382h1.732v2.382h8.531v-2.382h1.689v2.382h1.559a1.964,1.964,0,0,1,1.444.591,1.965,1.965,0,0,1,.591,1.444v15.07a1.965,1.965,0,0,1-.591,1.444,1.965,1.965,0,0,1-1.444.591Zm0-1.689h15.07a.331.331,0,0,0,.238-.108.331.331,0,0,0,.108-.238v-10.566H141.69v10.566a.331.331,0,0,0,.108.238A.331.331,0,0,0,142.036-844.781Zm-.346-12.6h15.763V-860.2a.331.331,0,0,0-.108-.238.331.331,0,0,0-.238-.108h-15.07a.331.331,0,0,0-.238.108.331.331,0,0,0-.108.238Zm0,0v0Zm7.881,5.932a.96.96,0,0,1-.7-.291.96.96,0,0,1-.291-.7.96.96,0,0,1,.291-.7.96.96,0,0,1,.7-.291.96.96,0,0,1,.7.291.96.96,0,0,1,.291.7.96.96,0,0,1-.291.7A.96.96,0,0,1,149.571-851.45Zm-4.5,0a.96.96,0,0,1-.7-.291.96.96,0,0,1-.291-.7.96.96,0,0,1,.291-.7.96.96,0,0,1,.7-.291.96.96,0,0,1,.7.291.96.96,0,0,1,.291.7.96.96,0,0,1-.291.7A.96.96,0,0,1,145.068-851.45Zm9.007,0a.96.96,0,0,1-.7-.291.96.96,0,0,1-.291-.7.96.96,0,0,1,.291-.7.96.96,0,0,1,.7-.291.96.96,0,0,1,.7.291.96.96,0,0,1,.291.7.96.96,0,0,1-.291.7A.96.96,0,0,1,154.075-851.45Zm-4.5,4.417a.96.96,0,0,1-.7-.291.96.96,0,0,1-.291-.7.96.96,0,0,1,.291-.7.96.96,0,0,1,.7-.291.96.96,0,0,1,.7.291.96.96,0,0,1,.291.7.96.96,0,0,1-.291.7A.96.96,0,0,1,149.571-847.033Zm-4.5,0a.96.96,0,0,1-.7-.291.96.96,0,0,1-.291-.7.96.96,0,0,1,.291-.7.96.96,0,0,1,.7-.291.96.96,0,0,1,.7.291.96.96,0,0,1,.291.7.96.96,0,0,1-.291.7A.96.96,0,0,1,145.068-847.033Zm9.007,0a.96.96,0,0,1-.7-.291.96.96,0,0,1-.291-.7.96.96,0,0,1,.291-.7.96.96,0,0,1,.7-.291.96.96,0,0,1,.7.291.96.96,0,0,1,.291.7.96.96,0,0,1-.291.7A.96.96,0,0,1,154.075-847.033Z' transform='translate(-140.001 864.614)' fill='%23707070'/%3E%3C/svg%3E%0A");
    width: 16px;
    left: 5px;
}
@media screen and (max-width:1024px) {
    .cts_brochure .board_list ul li {
        width: calc(50% - 10px);
    }
    .cts_brochure .board_list ul li a strong {
        font-size: 17px;
    }
}
@media screen and (max-width:500px) {
    .cts_brochure .board_list ul li {
        width: calc(100%);
    }
    .cts_brochure .board_list ul li a strong {
        font-size: 15px;
    }
}

.cts_brochure_view {
    margin: 100px 0;
}
.cts_brochure_view .view .view_head {
    border-top: 4px solid #F51919;
}
.cts_brochure_view .view .view_head h2 {
    font-size: 35px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 18px 0;
}
.cts_brochure_view .view .view_head .info {
    background-color: #f4f4f4;
    padding: 15px 30px;
    display: flex;
    justify-content: flex-end;
}
.cts_brochure_view .view .view_head .info span {
    color: #666;
    padding-left: 25px;
    position: relative;
    margin-left: 30px;
}
.cts_brochure_view .view .view_head .info span::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.cts_brochure_view .view .view_head .info .writer::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='560' height='529.232' viewBox='0 0 560 529.232'%3E%3Cpath id='person_FILL0_wght200_GRAD0_opsz24' d='M480-504.615q-49.5,0-84.75-35.25T360-624.615q0-49.5,35.25-84.751T480-744.616q49.5,0,84.75,35.25T600-624.615q0,49.5-35.25,84.75T480-504.615ZM200-215.384v-65.847q0-24.769,14.423-46.346a96.822,96.822,0,0,1,38.808-33.5,567.6,567.6,0,0,1,113.307-40.731,480.885,480.885,0,0,1,226.924,0,567.6,567.6,0,0,1,113.307,40.731,96.822,96.822,0,0,1,38.808,33.5Q760-306,760-281.231v65.847H200Zm40-40H720v-25.846q0-13.307-8.577-25T687.692-326a507.679,507.679,0,0,0-101.836-36.654,446.453,446.453,0,0,0-211.712,0A507.679,507.679,0,0,0,272.308-326q-15.154,8.077-23.731,19.769t-8.577,25v25.846Zm240-289.23q33,0,56.5-23.5t23.5-56.5q0-33-23.5-56.5t-56.5-23.5q-33,0-56.5,23.5t-23.5,56.5q0,33,23.5,56.5T480-544.615ZM480-624.615ZM480-255.385Z' transform='translate(-200 744.616)' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}
.cts_brochure_view .view .view_head .info .count::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.968' height='18.045' viewBox='0 0 26.968 18.045'%3E%3Cpath id='visibility_FILL0_wght300_GRAD0_opsz24' d='M75.027-765.722a5.061,5.061,0,0,0,3.721-1.533,5.075,5.075,0,0,0,1.531-3.724,5.061,5.061,0,0,0-1.533-3.721,5.075,5.075,0,0,0-3.724-1.531A5.061,5.061,0,0,0,71.3-774.7a5.075,5.075,0,0,0-1.531,3.724,5.061,5.061,0,0,0,1.533,3.721A5.075,5.075,0,0,0,75.027-765.722Zm0-1.775a3.356,3.356,0,0,1-2.465-1.015,3.356,3.356,0,0,1-1.015-2.465,3.356,3.356,0,0,1,1.015-2.465,3.356,3.356,0,0,1,2.465-1.015,3.356,3.356,0,0,1,2.465,1.015,3.356,3.356,0,0,1,1.015,2.465,3.356,3.356,0,0,1-1.015,2.465A3.356,3.356,0,0,1,75.024-767.5Zm0,5.542a14.229,14.229,0,0,1-8.1-2.453,14.483,14.483,0,0,1-5.384-6.57,14.487,14.487,0,0,1,5.382-6.57,14.221,14.221,0,0,1,8.1-2.453,14.229,14.229,0,0,1,8.1,2.453,14.483,14.483,0,0,1,5.384,6.57,14.487,14.487,0,0,1-5.382,6.57A14.221,14.221,0,0,1,75.026-761.954ZM75.024-770.977Zm0,7.089A12.3,12.3,0,0,0,81.71-765.8a12.6,12.6,0,0,0,4.656-5.172,12.6,12.6,0,0,0-4.656-5.172,12.3,12.3,0,0,0-6.686-1.917,12.3,12.3,0,0,0-6.686,1.917,12.6,12.6,0,0,0-4.656,5.172,12.6,12.6,0,0,0,4.656,5.172A12.3,12.3,0,0,0,75.024-763.888Z' transform='translate(-61.54 779.999)' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}
.cts_brochure_view .view .view_head .info .date::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.14' height='21.522' viewBox='0 0 19.14 21.522'%3E%3Cpath id='calendar_month_FILL0_wght300_GRAD0_opsz24' d='M142.036-843.092a1.965,1.965,0,0,1-1.444-.591,1.965,1.965,0,0,1-.591-1.444V-860.2a1.965,1.965,0,0,1,.591-1.444,1.964,1.964,0,0,1,1.444-.591H143.6v-2.382h1.732v2.382h8.531v-2.382h1.689v2.382h1.559a1.964,1.964,0,0,1,1.444.591,1.965,1.965,0,0,1,.591,1.444v15.07a1.965,1.965,0,0,1-.591,1.444,1.965,1.965,0,0,1-1.444.591Zm0-1.689h15.07a.331.331,0,0,0,.238-.108.331.331,0,0,0,.108-.238v-10.566H141.69v10.566a.331.331,0,0,0,.108.238A.331.331,0,0,0,142.036-844.781Zm-.346-12.6h15.763V-860.2a.331.331,0,0,0-.108-.238.331.331,0,0,0-.238-.108h-15.07a.331.331,0,0,0-.238.108.331.331,0,0,0-.108.238Zm0,0v0Zm7.881,5.932a.96.96,0,0,1-.7-.291.96.96,0,0,1-.291-.7.96.96,0,0,1,.291-.7.96.96,0,0,1,.7-.291.96.96,0,0,1,.7.291.96.96,0,0,1,.291.7.96.96,0,0,1-.291.7A.96.96,0,0,1,149.571-851.45Zm-4.5,0a.96.96,0,0,1-.7-.291.96.96,0,0,1-.291-.7.96.96,0,0,1,.291-.7.96.96,0,0,1,.7-.291.96.96,0,0,1,.7.291.96.96,0,0,1,.291.7.96.96,0,0,1-.291.7A.96.96,0,0,1,145.068-851.45Zm9.007,0a.96.96,0,0,1-.7-.291.96.96,0,0,1-.291-.7.96.96,0,0,1,.291-.7.96.96,0,0,1,.7-.291.96.96,0,0,1,.7.291.96.96,0,0,1,.291.7.96.96,0,0,1-.291.7A.96.96,0,0,1,154.075-851.45Zm-4.5,4.417a.96.96,0,0,1-.7-.291.96.96,0,0,1-.291-.7.96.96,0,0,1,.291-.7.96.96,0,0,1,.7-.291.96.96,0,0,1,.7.291.96.96,0,0,1,.291.7.96.96,0,0,1-.291.7A.96.96,0,0,1,149.571-847.033Zm-4.5,0a.96.96,0,0,1-.7-.291.96.96,0,0,1-.291-.7.96.96,0,0,1,.291-.7.96.96,0,0,1,.7-.291.96.96,0,0,1,.7.291.96.96,0,0,1,.291.7.96.96,0,0,1-.291.7A.96.96,0,0,1,145.068-847.033Zm9.007,0a.96.96,0,0,1-.7-.291.96.96,0,0,1-.291-.7.96.96,0,0,1,.291-.7.96.96,0,0,1,.7-.291.96.96,0,0,1,.7.291.96.96,0,0,1,.291.7.96.96,0,0,1-.291.7A.96.96,0,0,1,154.075-847.033Z' transform='translate(-140.001 864.614)' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    width: 16px;
    left: 5px;
}
.cts_brochure_view .view .view_cnt {
    margin: 50px 0;
}
.cts_brochure_view .view .view_cnt .video {
    margin: 0 0 60px 0;
    position: relative;
    overflow: hidden;
    padding: 30% 0;
}
.cts_brochure_view .view .view_cnt .video iframe,
.cts_brochure_view .view .view_cnt .video object,
.cts_brochure_view .view .view_cnt .video embed {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.cts_brochure_view .view .view_foot {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.cts_brochure_view .view .view_foot .btn_list {
    display: block;
    width: 80px;
    line-height: 40px;
    background-color: #3d3d3d;
    color: #fff;
    border-radius: 5px;
    padding-left: 40px;
    position: relative;
}
.cts_brochure_view .view .view_foot .btn_list::before {
    position: absolute;
    top: 0;
    left: 12px;
    width: 20px;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='640' height='320' viewBox='0 0 640 320'%3E%3Cpath id='list_FILL0_wght200_GRAD0_opsz24' d='M306.154-595.385v-40H800v40Zm0,135.385v-40H800v40Zm0,135.385v-40H800v40ZM184.615-590.769a23.449,23.449,0,0,1-17.538-7.3A24.965,24.965,0,0,1,160-616.154a22.7,22.7,0,0,1,7.077-16.99A24.22,24.22,0,0,1,184.615-640a24.221,24.221,0,0,1,17.539,6.856,22.7,22.7,0,0,1,7.077,16.99,24.965,24.965,0,0,1-7.077,18.087,23.451,23.451,0,0,1-17.539,7.3Zm0,134.615a24.22,24.22,0,0,1-17.538-6.856A22.7,22.7,0,0,1,160-480q0-11.615,7.077-18.5a24.165,24.165,0,0,1,17.538-6.885,24.166,24.166,0,0,1,17.539,6.885q7.077,6.885,7.077,18.5a22.7,22.7,0,0,1-7.077,16.99,24.221,24.221,0,0,1-17.539,6.856Zm0,136.154a23.449,23.449,0,0,1-17.538-7.3A24.964,24.964,0,0,1,160-345.384a22.707,22.707,0,0,1,7.077-16.991,24.22,24.22,0,0,1,17.538-6.856,24.221,24.221,0,0,1,17.539,6.856,22.707,22.707,0,0,1,7.077,16.991,24.964,24.964,0,0,1-7.077,18.086A23.45,23.45,0,0,1,184.615-320Z' transform='translate(-160 640)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
@media screen and (max-width:1024px) {
    .cts_brochure_view .view .view_head h2 {
        font-size: 30px;
    }
    .cts_brochure_view .view .view_head .info {
        justify-content: space-around;
    }
    .cts_brochure_view .view .view_head .info span {
        padding: 25px 0 0 0;
        margin-left: 0;
    }
    .cts_brochure_view .view .view_head .info span::before {
        position: absolute;
        width: 100%;
        height: 14px;
    }
    .cts_brochure_view .view .view_head .info .date::before {
        width: 100%;
        left: 0;
    }
}
@media screen and (max-width:500px) {
    .cts_brochure_view .view .view_head h2 {
        font-size: 25px;
    }
}
