@charset "utf-8";
@import url("default.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html, body {
    font-family: 'Noto sans KR', sans-serif;
    font-size: 15px;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 1.4;
    word-break: keep-all;
    letter-spacing: -0.05em;
}
.wrapper {
    width: 1280px;
    margin: 0 auto;
}
#wrap {
    min-width: 1280px;
}
@media screen and (max-width:640px){
    html, body {
        font-size: 13px;
    }
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
    #wrap {
        min-width: auto;
    }
}

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    left: 0;
    top: 0;
}
.header .logo {
    float: left;
    margin-top: 13px;
}
.header .logo a {
    width: 199px;
    height: 66px;
    display: block;
    background: url(../images/logow.svg) no-repeat center center / contain;
    font-size: 0;
    line-height: 0;
}
.header .inner {
    float: right;
    display: flex;
    align-items: center;
}
.header .gnb .gnbopen{
    display: none;
}
.header .gnb ul {
    display: flex;
}
.header .gnb ul li a {
    font-size: 22px;
    font-weight: 700;
    padding: 34px 25px;
    display: block;
}
.header .login {
    width: 31px;
    height: 31px;
    background: url(../images/icon_00w.svg) no-repeat center center;
    font-size: 0;
    line-height: 0;
    margin: 0 10px 0 35px;
}
.header .lang {
    width: 31px;
    height: 31px;
    background: url(../images/icon_01w.svg) no-repeat center center;
    font-size: 0;
    line-height: 0;
}

.header.fixed {
    border-bottom: 0;
    background-color: #fff;
    color: #000;
}
.header.fixed .logo a {
    background: url(../images/logo.svg) no-repeat center center / contain;
}
.header.fixed .login {
    background: url(../images/icon_00.svg) no-repeat center center;
}
.header.fixed .lang {
    background: url(../images/icon_01.svg) no-repeat center center;
}

@media screen and (max-width:640px){
    .header {
        height: 50px;
    }
    .header .logo {
        margin-top: 7px;
    }
    .header .logo a {
        width: 101px;
        height: 33px;
    }
    .header .gnb ul {
        display: none;
    }
    .header .gnb .gnbopen{
        display: block;
        background: url(../images/gnb_openW.svg) no-repeat center center;
        font-size: 0;
        line-height: 0;
        width: 22px;
        height: 22px;
        margin: 14px 0 14px 0;
    }
    .header .login {
        display: none;
    }
    .header .lang {
        display: none;
    }

    .header.fixed {
        border-bottom: 0;
        background-color: #fff;
        color: #000;
    }
    .header.fixed .logo a {
        background: url(../images/logo.svg) no-repeat center center / contain;
    }
    .header.fixed .gnb .gnbopen{
        background: url(../images/gnb_open.svg) no-repeat center center;
    }
}

.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: center;
}
.visual .inner {
    display: flex;
    height: 100vh;
    min-height: 400px;
    flex-direction: column;
    justify-content: center;
}
.visual h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: -196px;
    margin-bottom: 22px;
}
@media screen and (max-width:640px){
    .visual .inner {
        height: 225px;
        min-height: auto;
    }
    .visual h2 {
        font-size: 20px;
        padding-top: 39px;
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.service {
    background-color: #F7F7F7;
    padding: 76px 0 64px 0;
}
.service h2 {
    display: none;
}
.service ul {
    display: flex;
}
.service ul li {
    width: 16.66%;
    text-align: center;
}
.service ul li a {
    padding-top: 56px;
    display: inline-block;
    position: relative;
}
.service ul li a::before {
    content: "";
    position: absolute;
    left: calc(50% - 26px);
    top: 0;
    width: 52px;
    height: 49px;
}
.service ul li.service0 a::before {
    background: url(../images/service_icon0.svg) no-repeat center center;
}
.service ul li.service1 a::before {
    background: url(../images/service_icon1.svg) no-repeat center center;
}
.service ul li.service2 a::before {
    background: url(../images/service_icon2.svg) no-repeat center center;
}
.service ul li.service3 a::before {
    background: url(../images/service_icon3.svg) no-repeat center center;
}
.service ul li.service4 a::before {
    background: url(../images/service_icon4.svg) no-repeat center center;
}
.service ul li.service5 a::before {
    background: url(../images/service_icon5.svg) no-repeat center center;
}
@media screen and (max-width:640px){
    .service {
        background-color: #F7F7F7;
        padding: 30px 0 10px 0;
    }
    .service ul {
        flex-wrap: wrap;
    }
    .service ul li {
        width: 33.33%;
        margin-bottom: 18px;
    }
    .service ul li a {
        padding-top: 42px;
    }
    .service ul li a::before {
        left: calc(50% - 20px);
        width: 39px;
        height: 36px;
    }
    .service ul li.service0 a::before {
        background-size: 37px auto;
    }
    .service ul li.service1 a::before {
        background-size: 37px auto;
    }
    .service ul li.service2 a::before {
        background-size: 37px auto;
    }
    .service ul li.service3 a::before {
        background-size: 34px auto;
    }
    .service ul li.service4 a::before {
        background-size: 37px auto;
    }
    .service ul li.service5 a::before {
        background-size: 37px auto;
    }
}

.biz {
    margin-top: 50px;
}
.biz h2 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 21px;
}
.biz ul {
    display: flex;
    justify-content: space-between;
}
.biz ul li a {
    position: relative;
    display: block;
    border-radius: 15px;
    padding: 29px 31px 0 29px;
    width: 299px;
    height: 350px;
    color: #FFF;
}
.biz ul li a h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 22px;
}
.biz ul li a .more {
    position: absolute;
    left: 29px;
    bottom: 31px;
    font-weight: 700;
    padding-right: 21px;
}
.biz ul li a .more::after {
    position: absolute;
    background: url(../images/biz_more.svg) no-repeat center center;
    content: "";
    right: 0;
    top: 2px;
    width: 19px;
    height: 19px;
    background-size: 19px auto;
}
.biz ul li.biz00 a {
    background: #111AF4;
}
.biz ul li.biz01 a {
    background: #313AF4;
}
.biz ul li.biz02 a {
    background: #713AF4;
}
.biz ul li.biz03 a {
    background: #319A94;
}

@media screen and (max-width:640px){
    .biz {
        margin-top: 35px;
    }
    .biz h2 {
        font-size: 25px;
        margin-bottom: 21px;
    }
    .biz ul {
        display: block;
    }
    .biz ul li {
        padding-bottom: 9px;
    }
    .biz ul li a {
        display: block;
        border-radius: 10px;
        padding: 14px 16px 15px 16px;
        height: auto;
        width: auto;
    }
    .biz ul li a h3 {
        font-size: 16px;
        margin-bottom: 6px;
    }
    .biz ul li a .more {
        padding-right: 16px;
        right: 18px;
        left: auto;
        top: 30px;
        bottom: auto;
    }
    .biz ul li a .more::after {
        right: 0;
        top: 1px;
        width: 15px;
        height: 15px;
        background-size: 15px auto;
    }
    .biz ul li.biz00 a {
        background: #111AF4;
    }
    .biz ul li.biz01 a {
        background: #313AF4;
    }
    .biz ul li.biz02 a {
        background: #713AF4;
    }
    .biz ul li.biz03 a {
        background: #319A94;
    }
}

.news {
    padding-top: 92px;
}
.news h2 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 21px;
}
.news ul li {
    border: 1px solid #CCC;
    margin-bottom: 5px;
}
.news ul li a {
    display: flex;
    line-height: 47px;
    padding: 0 23px;
}
.news ul li em {
    font-weight: 700;
    margin-right: 31px;
}
.news ul li.notice0 a em {
    color: #111AF4;
}
.news ul li.notice1 a em {
    color: #319A94;
}
.news ul li strong {
    width: 1000px;
    margin-right: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news ul li span {
    color: #666;
}
.news .inner {
    position: relative;
}
.news .more {
    position: absolute;
    font-weight: 700;
    right: 0;
    top: 30px;
}
.news .more a {
    position: relative;
    display: block;
    padding-right: 20px;
}
.news .more a::after {
    position: absolute;
    background: url(../images/news_more.svg) no-repeat center center / 100% auto;
    content: "";
    right: 0;
    top: 2px;
    width: 19px;
    height: 19px;
}

@media screen and (max-width:640px){
    .news {
        padding-top: 35px;
    }
    .news h2 {
        font-size: 25px;
        margin-bottom: 11px;
    }
    .news ul li {
        border: 0;
        border-bottom: 1px solid #CCC;
        margin-bottom: 0;
    }
    .news ul li a {
        display: flex;
        line-height: 32px;
        padding: 0;
    }
    .news ul li em {
        display: none;
    }
    .news ul li strong {
        width: calc(100% - 66px);
        margin-right: 0;
    }
    .news .more {
        position: relative;
        text-align: center;
        right: auto;
        top: auto;
        margin-top: 10px;
    }
    .news .more a {
        margin-right: 10px;
        display: inline-block;
    }
    .news .more a::after {
        right: 0;
        top: 2px;
        width: 15px;
        height: 15px;
    }
}

.webzine {
    padding: 137px 0 139px 0;
    background: url(../images/webzine_bg.svg) no-repeat center top 144px / cover;
}
.webzine .inner{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.webzine .tit h2 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
}
.webzine .tit strong {
    font-weight: 700;
}
.webzine ul {
    display: flex;
}
.webzine ul li {
    width: 299px;
    margin-left: 28px;
}
.webzine ul li a {
    display: block;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 40px;
    overflow: hidden;
}
.webzine ul li a strong {
    display: block;
    text-align: center;
    padding: 8px 30px 18px 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.webzine .more {
    position: absolute;
    color: #fff;
    left: 0;
    top: 96px;
}
.webzine .more a {
    display: block;
    padding-right: 20px;
    position: relative;
}
.webzine .more a::after {
    position: absolute;
    background: url(../images/biz_more.svg) no-repeat center center / 100% auto;
    content: "";
    right: 0;
    top: 2px;
    width: 19px;
    height: 19px;
}
@media screen and (max-width:640px){
    .webzine {
        padding: 36px 0 67px 0;
        background-position: center top 134px;
        background-size: cover;
    }
    .webzine .inner{
        display: block;
    }
    .webzine .tit {
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
    }
    .webzine .tit h2 {
        font-size: 25px;
        margin-right: 5px;
    }
    .webzine .tit strong {
        font-size: 15px;
    }
    .webzine ul {
        justify-content: space-between;
    }
    .webzine ul li {
        width: calc(50% - 8px);
        margin-left: 0;
    }
    .webzine ul li:last-child {
        display: none;
    }
    .webzine ul li a {
        border-radius: 15px;
    }
    .webzine ul li a img {
        width: 100%;
    }
    .webzine ul li a strong {
        padding: 4px 15px 8px 15px;
    }
    .webzine .more {
        position: relative;
        text-align: center;
        margin-top: 20px;
        color: #fff;
        left: auto;
        top: auto;
    }
    .webzine .more a {
        display: inline-block;
        padding-right: 20px;
        position: relative;
    }
    .webzine .more a::after {
        position: absolute;
        background: url(../images/biz_more.svg) no-repeat center center / 100% auto;
        content: "";
        right: 0;
        top: 1px;
        width: 17px;
        height: 17px;
    }
}

.footer {
    background-color: #009FE3;
    color: #fff;
    padding: 0 0 80px 0;
}
.footer .f_top {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 8px 0 15px 0;
    align-items: center;
}
.footer .f_top .f_logo {
    width: 199px;
    height: 66px;
    display: block;
    background: url(../images/logow2.svg) no-repeat center center / contain;
    font-size: 0;
    line-height: 0;
}
.footer .f_top .f_nav ul {
    display: flex;
}
.footer .f_top .f_nav ul li {
    position: relative;
    padding-right: 33px;
    display: block;
}
.footer .f_top .f_nav ul li:last-child {
    padding-right: 0;
}
.footer .f_top .f_nav ul li::after {
    position: absolute;
    right: 16px;
    top: 10px;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.5);
    content: "";
}
.footer .f_top .f_nav ul li:last-child:after {
    display: none;
}
.footer .f_btm {
    margin-top: 10px;
    font-size: 12px;
}
.footer .f_btm .f_info span {
    margin-right: 25px;
}
.footer .f_btm .f_info strong {
    font-weight: 700;
}
.footer .f_btm .copyright {
    margin-top: 35px;
    color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width:640px){
    .footer {
        padding: 0 0 30px 0;
    }
    .footer .f_top .f_logo {
        width: 152px;
    }
    .footer .f_top {
        padding: 6px 0 8px 0;
        display: block;
    }
    .footer .f_top .f_nav ul {
        flex-wrap: wrap;
    }
    .footer .f_top .f_nav ul li {
        position: relative;
        padding-right: 33px;
        display: block;
    }
    .footer .f_top .f_nav ul li:last-child {
        padding-right: 0;
    }
    .footer .f_top .f_nav ul li::after {
        position: absolute;
        right: 16px;
        top: 10px;
        width: 2px;
        height: 2px;
        border-radius: 100%;
        background-color: rgba(255,255,255,0.5);
        content: "";
    }
    .footer .f_top .f_nav ul li:last-child:after {
        display: none;
    }
    .footer .f_btm {
        margin-top: 10px;
        font-size: 12px;
    }
    .footer .f_btm .f_info span {
        margin-right: 25px;
    }
    .footer .f_btm .f_info strong {
        font-weight: 700;
    }
    .footer .f_btm .copyright {
        margin-top: 35px;
        color: rgba(255, 255, 255, 0.8);
    }
}